<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503771997517-gc28c5qje0cf4cjunkhl8r6n594hjvdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503771997517-gc28c5qje0cf4cjunkhl8r6n594hjvdk</string>
	<key>API_KEY</key>
	<string>AIzaSyAYnIsx_LO6UoGdipyJL2EC81tUuPyKFdY</string>
	<key>GCM_SENDER_ID</key>
	<string>503771997517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.h2h</string>
	<key>PROJECT_ID</key>
	<string>heart-to-heart-e3cc1</string>
	<key>STORAGE_BUCKET</key>
	<string>heart-to-heart-e3cc1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503771997517:ios:163ea506539ad46a380304</string>
</dict>
</plist>